html{  scroll-behavior: smooth; -webkit-text-size-adjust: 100%; font-size: 62.5%; }

*{ margin: 0; padding: 0; box-sizing: border-box; font-family: 'Recursive', sans-serif; }
:root{ --tran: all 0.4s linear;}
a{ text-decoration: none; }

/*------------------------------------  PRELOADER START   ------------------------------------*/
#loading{
    position: fixed; height: 100vh; width: 100%;
	background: #fff url('../img/gif/preloader.gif') no-repeat center;
	z-index: 999999; background-size: 5% 10%;	
}
/*------------------------------------   PRELOADER END   ------------------------------------*/

/*------------------------------------   TOP NAVBAR AND FRON START   ------------------------------------*/
.bg_img{
	height: 100vh; width: 100%;
	background-image:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url('../img/bac_imag.png'); 
    background-size: 100% 100%; background-repeat: no-repeat; background-attachment: fixed;
}
.bac__img2{
    height: 20vh; width: 100%; margin-top: -13rem;
    background-image:url('../img/header-mask.png');
    background-size: 100% 100%; background-repeat: no-repeat;
}
.main_name,#button,#navbarNav ul li a{ transition: all .5s; }
.main_name{ font-size: 4rem; letter-spacing: 0.15rem; font-weight: bold; margin-left: 4.5rem; }
#navbarNav{ margin-right: 5rem; text-transform: uppercase; }
#navbarNav ul li a{
	color: #fff; font-weight: bold; font-size: 1.8rem;
	letter-spacing: 2px; margin-right: 2rem;
}
#navbarNav ul li a:hover{ color: orange; }
.small{ height: 60px; background: rgba(0, 0, 0, 0.7);}
.small .main_name{ font-size: 4rem; margin-top: 5px; }
.small li a{ font-size: 1.8rem; margin-top: 5px; }
.mid_section{ height: 100vh; width: 100%; background-position: center center; }
.mid_section__name{ font-size: 5.5rem; margin-top: 8rem; }
.mid_section__about{ font-size: 4rem; font-family: BA; margin-top: 0.5rem; }
.animate{ font-size: 3.5rem; color: orange; position: relative; transition: .3s all ease; margin: 0 0 0 2rem; }
.animate div li {
    font-weight: bold; padding: 0 1rem; height: 4.5rem; color: #fff;
    margin-bottom: 4.5rem; display: block;
}
.animate div{
    overflow: hidden; position: relative; float: right;
    height: 6rem; padding-top: 1rem; margin-top: -1rem;
}
.flip {
    letter-spacing: 0.1rem;
    --webkit-animation: flip 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
    animation: flip 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}
@-webkit-keyframes flip{
    0% {  margin-top: -360px; } 5% {  margin-top: -270px; } 25% {  margin-top: -270px;}
    30% {  margin-top: -180px;} 50% {  margin-top: -180px;} 55% {  margin-top: -90px; }
    75% {  margin-top: -90px; } 80% {  margin-top: 0px;   }99.99% {  margin-top: 0px; }
    100% {  margin-top: -270px; }
}
@keyframes flip{
    0% {  margin-top: -360px; } 5% {  margin-top: -270px; } 25% {  margin-top: -270px;}
    30% {  margin-top: -180px;} 50% {  margin-top: -180px;} 55% {  margin-top: -90px; }
    75% {  margin-top: -90px; } 80% {  margin-top: 0px;   } 99.99% {  margin-top: 0px; }
    100% {  margin-top: -270px; }
}
#icons{ font-size: 3rem; color: white; margin: 1rem 0 1rem 1rem; transition: all 0.5s; }
#icons:hover{ transform: rotate(360deg); }
.fa-facebook-square:hover{ color: #4267B2!important;}
.fa-instagram:hover{ color: rgb(188, 42, 141)!important;}
.fa-twitter-square:hover{ color:  #00acee!important;}
.fa-github-square:hover{ color: #000!important;}
.fa-youtube-square:hover{ color:#FF0000!important;}
.mouse_center{ display: flex; align-items: center; justify-content: center; margin-top: 25px; }
.field{ display: flex; align-items: center; justify-content: space-around; width: 33px; }
.mouse{ width: 50px; height: 55px; border: 2px solid #fff; border-radius: 60px; position: relative; }
.mouse:before{
    content: ''; width: 6px; height: 6px; position: absolute; top: 9px; left: 50%; transform: translateX(-50%);
    background-color: #fff; border-radius: 50%; opacity: 1; animation: wheel 2s infinite;
}
@keyframes wheel{ to{ opacity: 0; top: 40px; } }
/*------------------------------------   TOP NAVBAR AND FRON END   ------------------------------------*/
/*------------------------------------   SERVICES PROJECT PAGES START   ------------------------------------*/
.project_work{ margin: 100px 0; }
.heading{ font-size: 2.5rem; margin-bottom: 2rem; }
.project_work h1{ font-size: 4rem; text-align: center; font-weight: bold; }
.award{ font-weight: bold; letter-spacing: 1px; }
/*------------------------------------   SERVICES PROJECT PAGES END   ------------------------------------*/
/*------------------------------------   SERVICES OFFERS START   ------------------------------------*/
.serviceoffers{ padding: 50px 0; margin-bottom: 50px; }
.mainheading{ font-size: 4rem; margin-bottom: 50px; }
.names h1{ color: #2e2e2e; font-size: 1.8rem; }
.progress{ font-size: 13px; margin-bottom: 21px; height: 15px; }
.servicediv h2{ font-size: 3rem; margin: 20px 0 2px 0; font-weight: bold; line-height: 1.1; word-spacing: 4px; }
.service-icon{ font-size: 1.6rem; display: flex; justify-content: center; align-items: center; margin-top: -2.5rem; }
.service_para{ font-size: 1.6rem; }
/*------------------------------------   SERVICES OFFERS END   ------------------------------------*/


/* ------------------------------------  SOURCECODE START  ------------------------------------ */

.temp{ font-size: 3rem; margin-top:2.5rem; }
.workandsourcecode h3{ font-size: 3rem; display: flex;  justify-content: center; align-items: center; margin-top:4.5rem; }
.workandsourcecode .imag1,.imag2,.imag3,.imag4,.imag5,.imag6,.imag7,.imag8{ 
    color: #fff; margin-left: 1rem; height:120px; width:200px;
    background-size: 100% 100%; background-repeat: no-repeat;
}
.sourceimag{ margin: 5rem 0 1rem 6.5rem; }
.imag1{ background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('../img/A_Photographer.webp'); }
.imag2{ background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('../img/elit.jpg'); }
.imag3{ background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('../img/Adventure1.jpg'); }
.imag4{ background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('../img/Countryside.webp'); }
.sourceimag1{ margin: 0 0 2rem 0.7rem; }
.imag5{ background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('../img/robot.jpg');   }
.imag6{ background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('../img/hand shak.jpg');  }
.imag7{ background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('../img/taj mehal.jpg');  }
.imag8{ background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('../img/student.jpg'); }
.bg_sourceimg{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url('../img/Longue_Vue.webp');
    height: 70vh; width: 95%; background-size: 100% 100%;
    margin-left: 50%; transform: translateX(-50%); 
    margin-bottom: 5rem; margin-top: 4rem;
}
.bg_sourceimg h1{
    font-size: 5rem; color: #fff; letter-spacing: 3px; line-height: 18rem;
    animation: zoominout 0.7s linear infinite alternate-reverse;
}
@keyframes zoominout{
    from { transform: scale(.9); }
    to { transform: scale(1); }
}
.bg_sourceimg h2{ font-size: 4rem; color: #fff; font-family: abcd; text-align: center; letter-spacing: 2px; }
.buton{ text-align: center; margin-top: 2.5rem;}
.buton button{
    font-size: 1.5rem; font-weight: bold; transition: all 0.5s; padding: 8px 50px;
    background: transparent; letter-spacing: 1.5px; color: #fff; border-radius: 30px;
    border-color: #fff; border: none; outline: none; border: 1px solid #fff;
}
.buton button:hover{ color: #000;  background: #fff;  border: 1px solid #000; }
.first__div__sourceimg{  width: 20%; position: relative; margin-bottom: 4rem; }
.first__div__sourceimg img{ width: 240px; height: 230px; object-fit: cover; transition: var(--tran); overflow: hidden; }
.t_e_x_t{
    transition: var(--tran); cursor: pointer; align-items: center; opacity: 0;
    position: absolute; top: 0; left: 0; color: #fff; background: rgba(0, 0, 0, 0.7);
    width: 240px; height: 230px; display: flex; justify-content: center;
    flex-direction: column; 
}
.t_e_x_t p{
    text-transform: uppercase; font-size: 2.8rem; margin-left: 1.3rem;
    letter-spacing: 1.5px; transition:var(--tran); margin-top: 1rem;
}
.first__div__sourceimg:hover .t_e_x_t{ opacity: 1; }
/*------------------------------------   SOURCECODE END   ------------------------------------*/

/* ------------------------------------ MERE BARE MAI THORA SAA ------------------------------------ */
.carousel{
    height: 66vh; width: 100%; background-size: 100% 100%;
    background: linear-gradient(rgba(0, 0, 0, 1),rgba(0, 0, 0, 1));
}
.carousel img{ 
    height: 130px; width: 110px; border-radius: 50%; margin-top: 2rem;
    margin-left: 50%; transform: translateX(-50%);
}
.carousel h3{ font-size: 3rem; }
.carousel p{ font-size: 1.8rem; margin-top: 6rem; }
/* ------------------------------------ MERE BARE MAI THORA SAA ------------------------------------ */

/* ------------------------------------ CONTACT SECTION START ------------------------------------ */
.contact h1{ margin-top: 10rem; margin-bottom: 5rem; }
.con__tact___info h3{ font-size: 3rem; }
.con__tact___info p{ font-size: 1.8rem; margin: 2rem 0 2rem 0; }
.statecity i{ background: #000; height: 3rem; width: 3rem; margin: 1rem 0 0 0; line-height: 30px; font-size: 1.5rem; }
.statecity p{ margin-top: 1.5rem; font-size: 1.6rem; }
.subbtn{
    background: linear-gradient(135deg,rgba(175,106,252) 39%,rgba(116,17,255) 100%);
    border: none; font-size: 1.8rem; padding: 0px 12px; line-height: 40px; margin-top: 2rem;
}
.contact_box{ height: 78vh; width: 100%; background: #000; border-top: 8px  solid #8c8c8c; }
.contact_social__icons{ text-align: center; line-height: 8rem; }
#social__icons{ font-size: 3rem; color: #fff; margin: 1rem 0 4rem 3rem; transition: all 0.5s; }
#social__icons:hover{ transform: rotate(360deg); }
.fa-github-square:hover{ color: #737373!important;}
.input_and__message{ text-align: center; }
.input_and__message input, textarea{
    font-size: 1.8rem; padding: 0.5rem 1rem; width: 85%; background: none; border: none; outline: none;
    margin:  2rem 0 0 0; color: #fff; border-bottom: 1px solid #949292; letter-spacing: 2px;
}
.send_btn{ text-align: center; margin-top: 4rem; }
.send_btn button{
    padding: 0.8rem 0; width: 80%; font-size: 2rem; font-weight: 500; color: #fff;
    background: linear-gradient(175deg, rgb(175, 106, 252) 39%, rgb(116, 17, 255) 100%);
    border-radius: 1rem; border: none; outline: none;
}
.send_btn button:hover{ background: linear-gradient(234deg, rgb(116, 17, 255) 39%, rgb(175, 106, 252) 100%); }
/* ------------------------------------ CONTACT SECTION END ------------------------------------ */

/* ------------------------------------ COPYRIGHT BY ME START ------------------------------------ */
.copyright{ background: #030202; height: 10vh; margin-top: 10rem; }
#copyright_icons{ font-size: 2rem; color: #fff; margin-right: 1rem; margin-top: 2.5rem; }
#copyright_icons:hover{ transform: rotate(360deg); }
.copyright_content p{ font-size: 1.6rem; margin-top: 2.5rem; color: #fff; }
/* ------------------------------------ COPYRIGHT BY ME END ------------------------------------ */

/* ------------------------------------ SCROLLL BUTTTON ------------------------------------ */
#mybtn{
    position: fixed; bottom: 35px; right: 20px; z-index: 99; border: none; color: #fff;
    background: #00abff; padding: 10px; border-radius: 10px; cursor: pointer;
}
#mybtn:hover{ background: #606060; }
/* ------------------------------------ SCROLLL BUTTTON ------------------------------------ */



/* ------------------------------------------------ RESPONSIVE CODE START ------------------------------------------------ */
@media(max-width:360px){
    #loading{ height: 100vh; width: 100%; }
    .bg_img{ height: 100vh; width: 100%; }
    .bac__img2{ height: 15vh; width: 100%; margin-top: -8.5rem; }
    .main_name{ font-size: 3rem; margin-left: 0.5rem; }
    #navbarNav ul li a{ font-size: 1.6rem; }
    #button{ font-size: 1.8rem; margin-top: -0.5rem; width: 4.8rem; }
    .small{ height: 60px; background: rgba(0, 0, 0, 0.8);}
    .small .main_name{ font-size: 3rem; }
    .small li a{ font-size: 1.8rem; margin-left: 2rem;}
    .small ul{ font-size: 1.8rem; background: #000; }
    .mid_section__name{ font-size: 2.5rem; color: #fff; }
    .mid_section__about{ font-size: 2rem; }
    .animate{ font-size: 1.5rem; margin-left: 2rem; }
    #icons{ font-size: 2rem; margin: 0rem 0 1rem 0.6rem; }
    .field{ width:30px; }
    .heading{ font-size: 1.5rem; margin-bottom: 2rem; }
    .project_work h1{ font-size: 2rem; text-align: center; font-weight: bold; }
    .award{ font-size: 1rem; letter-spacing: 1px; }
    .mainheading{ font-size: 3rem; margin-top: -5rem; margin-bottom: 50px; }
    .servicediv h2{ font-size: 2rem; }
    .service-icon{ font-size: 1.3rem; margin-top: -1rem; }
    .service_para{ font-size: 1.1rem; }
    .workandsourcecode .imag1,.imag2,.imag3,.imag4,.imag5,.imag6,.imag7,.imag8,.temp{ display: none; }
    .mainheading{ font-size: 2.5rem; margin-bottom: 3rem; }
    .bg_sourceimg{ height: 50vh; width: 95%; }
    .bg_sourceimg h1{ font-size: 3rem; color: #fff; letter-spacing: 3px; line-height: 12rem; }
    .bg_sourceimg h2{ font-size: 1.5rem; }
    .buton{ margin-top: 2.5rem;}
    .buton button{ font-size: 1rem; padding: 6px 30px; letter-spacing: 1.5px; }
    .carousel{ height: 50vh; width: 100%; }
    .carousel img{ height: 50px; width: 50px; border-radius: 50%; margin-top: 2rem; }
    .carousel h3{ font-size: 1.5rem; }
    .carousel p{ font-size: 1.1rem; margin-top: 3.5rem; }
    .contact_box{ margin-top: 4rem; margin-bottom: 4rem; height: 80vh; }
    .contact_social__icons{ margin-left: -3rem; }
    #social__icons{ font-size: 3rem; }
    .input_and__message input, textarea{ font-size: 1.6rem; margin:  1rem 0 0 0;}
    .send_btn button{ width: 80%; font-size: 1.6rem; }
    #mybtn{ bottom: 10px; right: 7px; padding: 10px; }
    .copyright{ height: 22vh; margin-top: 10rem; text-align: center; }
    #copyright_icons{ font-size: 2rem; margin-top: 1.5rem; }
    .copyright_content p{ font-size: 1.4rem; margin-top: 2rem; margin-bottom: -0.5rem; }
}
@media(max-width:420px){
    #loading{ height: 100vh; width: 100%; }
    .bg_img{ height: 100vh; width: 100%; }
    .bac__img2{ height: 15vh; width: 100%; margin-top: -8.5rem; }
    .main_name{ font-size: 3rem; margin-left: 0.5rem; }
    #navbarNav ul li a{ font-size: 1.6rem; }
    #button{ font-size: 1.8rem; margin-top: -0.5rem; width: 4.8rem; }
    .small{ height: 60px; background: rgba(0, 0, 0, 0.8);}
    .small .main_name{ font-size: 3rem; }
    .small li a{ font-size: 1.8rem; margin-left: 2rem;}
    .small ul{ font-size: 1.8rem; background: #000; }
    .mid_section__name{ font-size: 2.5rem; color: #fff; }
    .mid_section__about{ font-size: 2rem; }
    .animate{ font-size: 1.5rem; margin-left: 2rem; }
    #icons{ font-size: 2rem; margin: 0rem 0 1rem 0.6rem; }
    .field{ width:30px; }
    .heading{ font-size: 1.5rem; margin-bottom: 2rem; }
    .project_work h1{ font-size: 2rem; text-align: center; font-weight: bold; }
    .award{ font-size: 1rem; letter-spacing: 1px; }
    .mainheading{ font-size: 3rem; margin-top: -5rem; margin-bottom: 50px; }
    .servicediv h2{ font-size: 2rem; }
    .service-icon{ font-size: 1.3rem; margin-top: -1rem; }
    .service_para{ font-size: 1.1rem; }
    .workandsourcecode .imag1,.imag2,.imag3,.imag4,.imag5,.imag6,.imag7,.imag8,.temp{ display: none; }
    .mainheading{ font-size: 2.5rem; margin-bottom: 3rem; }
    .bg_sourceimg{ height: 50vh; width: 95%; }
    .bg_sourceimg h1{ font-size: 3rem; color: #fff; letter-spacing: 3px; line-height: 12rem; }
    .bg_sourceimg h2{ font-size: 1.5rem; }
    .buton{ margin-top: 2.5rem;}
    .buton button{ font-size: 1rem; padding: 6px 30px; letter-spacing: 1.5px; }
    .carousel{ height: 50vh; width: 100%; }
    .carousel img{ height: 50px; width: 50px; border-radius: 50%; margin-top: 2rem; }
    .carousel h3{ font-size: 1.5rem; }
    .carousel p{ font-size: 1.1rem; margin-top: 3.5rem; }
    .contact_box{ margin-top: 4rem; margin-bottom: 4rem; height: 80vh; }
    .contact_social__icons{ margin-left: -3rem; }
    #social__icons{ font-size: 3rem; }
    .input_and__message input, textarea{ font-size: 1.6rem; margin:  1rem 0 0 0;}
    .send_btn button{ width: 80%; font-size: 1.6rem; }
    #mybtn{ bottom: 10px; right: 7px; padding: 10px; }
    .copyright{ height: 22vh; margin-top: 10rem; text-align: center; }
    #copyright_icons{ font-size: 2rem; margin-top: 1.5rem; }
    .copyright_content p{ font-size: 1.4rem; margin-top: 2rem; margin-bottom: -0.5rem; }
}











/* ----------------------------------------------------------------------------------------------------------------------- */
            /* ESI KON SI CHIZ HAI JISE AAGE SE BHAGWAN NE BANAYA OR PICHHE SE INSAN NE BANAYA */
            /* ANSWER == BELGARHY */
/* ----------------------------------------------------------------------------------------------------------------------- */
